<section>  
    <div class="matrimonio-container">
        <h2 class="conatainer-titulo">El Ritual del Ringo</h2>
        <!-- <p class="description-container">En la Finca Cafetera El Matrimonio, tenemos una tradición única que llamamos el ritual del Ringo. Es una forma de unir a las parejas de una manera divertida y poco convencional. Durante este ritual, tanto los novios como los invitados se disfrazan un poco para la ocasión, añadiendo un toque de alegría y humor a la ceremonia. Es una manera de celebrar el amor con autenticidad y espontaneidad, creando recuerdos inolvidables para todos los presentes. En nuestra finca, valoramos la originalidad y la diversión, y el ritual del Ringo es solo una muestra de cómo hacemos que cada boda sea única y especial.</p> -->
      <div class="container-photos">
        <img class="container-photo-married" src="/assets/imagenes/mat1.jpeg" alt="foto_matrimonios">
        <img class="container-photo-married" src="/assets/imagenes/mat2.jpeg" alt="foto_matrimonios">
        <img class="container-photo-married" src="/assets/imagenes/mat3.jpeg" alt="foto_matrimonios">
        <img class="container-photo-married" src="/assets/imagenes/mat4.jpeg" alt="foto_matrimonios">
    </div>
      </div>
  </section>
