<footer>
  <div class="fondo">
    <div class="nav">
      <div class="widget contacto">
          <p class="titulo-footer">Contacto</p>
          <p class="contenido-footer">
          +57 3177270217
          </p>
          <p class="titulo-footer">Email</p>
          <p class="contenido-footer">
          vereda.elmatrimonio.com.co
          </p>
          <p class="titulo-footer">Direccion</p>
          <p class="contenido-footer">
          Vereda paraiso la palma, Pitalito-Hulia
          </p>
      </div>
      <div class="widget">
        <img class="imagen img-matrimonio" src="../../../../assets/imagenes/footer2.png" alt="">
      </div>

      <div class="widget siguenos">
        <ul class="menu-social">
          <h3 class="tituloredes">SIGUENOS</h3>
          <li class="menu-social-item">
              <a class="iconnos" href="https://m.facebook.com/people/Finca-cafetera-el-matrimonio/100063616281942/">
                  <i class="fa-brands fa-facebook"></i>
              </a>
              <a class="iconnos" href="https://www.instagram.com/fincacafeteraelmatrimonio/?igsh=MTliZW9tbHhxOTV1&utm_source=qr">
                  <i class="fa-brands fa-instagram"></i>
              </a>
              <a class="iconnos" href="https://www.tiktok.com/@finca.cafetera.ma?_t=8lEdJkw7YN4&_r=1">
                  <i class="fa-brands fa-tiktok"></i>
              </a>
          </li>
        </ul>
      </div>
  </div>
 </div>


</footer>

