.img-main {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url( /assets/imagenes/cafe-encabezado.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 80px 0 
}

.titulo-main p {
    font-size: 60px;
    color: #ffffff;
    font-weight: 1000;
    padding: 40px 100px;
    font-family: 'Reboto-Bold';
    font-weight: bold;
}