<h4>Comidas Especiales</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Cantidad</th>
      <th scope="col">Imagen</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plato of platos; let i = index">
      <th scope="row">{{plato.cantidad}}</th>
      <td scope="row">
        <img class="menuProducts" [src]="plato.urlImage" alt="">
      </td>
      <td scope="row">{{plato.name}}</td>
      <td scope="row">{{plato.price}}</td>
      <td scope="row">
        <div class="botones">
          <a type="button" class="btn btn-success btn-sm rounded-circle m-2" (click)="incrementar(i)"> <i class="fas fa-plus"></i></a>
          <a type="button" class="btn btn-primary btn-sm" (click)="decrementar(i)"><i class="fas fa-minus"></i></a>
        </div>       
      </td>
    </tr>
  </tbody>
</table>
