

<div class="testimonios">
  <h2 class="testimonios__title">
    Testimonios
  </h2>
  <div id="carouselTestimonios" class="list-testimonios carousel slide" data-bs-ride="carousel" data-bs-interval="350000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="testimonio testimonio-1 card">
          <header>
            <div class="user">
              <img class="img-testimonio card-img-top" src="../assets/imagenes/user2.png" alt="maria">
              <strong class="card-title">Johana Suarez</strong>
            </div>
            <div class="starscolor">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </header>
          <div class="card-body p-0">
            <blockquote class="card-text">
              Un lugar acogedor ideal para disfrutar con familiares y amigos. Su ambiente cómodo y servicio de primera categoría garantizan experiencias memorables. Con atención al detalle y calidad destacadas, es el destino perfecto para relajarse y disfrutar. Cada visita es única y gratificante.<br></blockquote>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonio testimonio-2 card">
          <header>
            <div class="user">
              <img class="img-testimonio card-img-top" src="../assets/imagenes/user1.png" alt="maria">
              <strong class="card-title">Adrian Perdomo</strong>
            </div>
            <div class="starscolor">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>
          </header>
          <div class="card-body p-0">
            <blockquote class="card-text">Un espacio familiar acogedor y especial con una experiencia gastronómica excepcional. Destaca por su atención al público que va más allá de lo esperado, cuidando cada detalle para garantizar una experiencia única. Un ambiente cálido y de alta calidad para crear momentos inolvidables en familia.<br></blockquote>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonio testimonio-3 card">
          <header>
            <div class="user">
              <img class="img-testimonio card-img-top" src="../assets/imagenes/user3.png" alt="maria">
              <strong class="card-title">David Rojas</strong>
            </div>
            <div class="starscolor">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star-half-stroke"></i>
            </div>
          </header>
          <div class="card-body p-0">
            <blockquote class="card-text">
              Ofrecemos un lugar donde el buen café y la comida deliciosa se complementan con una atención excepcional. Disfruta de un ambiente acogedor que transmite paz y tranquilidad, ideal para momentos de relajación y disfrute. Sumérgete en una experiencia única donde cada detalle está cuidadosamente diseñado para asegurar tu bienestar y satisfacción.<br></blockquote>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonios" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonios" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
