<section >
    <div class="row flex-md-row">
      <div class="col col-md-6 col-one container">
        <div id="carouselExampleAutoplaying" class="carousel slide p-0 container-sm" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/imagenes/picada1.jpg" class="d-block w-100" alt="foto_picada">
            </div>
            <div class="carousel-item">
              <img src="/assets/imagenes/picada2.jpg" class="d-block w-100" alt="foto_picada">
            </div>
            <div class="carousel-item">
              <img src="/assets/imagenes/picada3.jpg" class="d-block w-100" alt="foto_picada">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <i class="fa-solid fa-chevron-left"></i>
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <i class="fa-solid fa-chevron-right"></i>
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>
      <div class="col col-md-6 col-two container">
        <div class="card1 p-md-4 p-lg-5">
          <h2>Descubre Experiencias Inolvidables</h2>
          <p>Sumérgete en una experiencia gastronómica única en nuestro restaurante, donde cada bocado de nuestras exquisitas picadas deleitará tu paladar. Explora "El Baúl del Ringo", un museo que guarda recuerdos entrañables de nuestros ancestros, tejiendo historias de amor y nostalgia. Además, disfruta de un refugio tranquilo en medio de la naturaleza, un lugar donde la paz te envuelve y puedes crear momentos especiales con tus seres queridos.</p>
        </div>
      </div>
    </div>
</section>


