<div class="contenido">
  <div class="contenido-historia">
    <h2 class="title-history">Emprendimiento familiar</h2>
  
      <div>
        <p class="content-history" >Hace ocho años nuestra familia se mudó a Paraíso La Palma, Pitalito, Colombia, adquiriendo las fincas Luis Francisco y Rosa María para fusionarlas en la Finca Cafetera El Matrimonio. <br/> Abrimos nuestra casa al público como destino ecoturístico hace catorce meses como parte de la Ruta Mágica del Café en el sur del Huila, ofreciendo a los visitantes la oportunidad de disfrutar de la naturaleza, cultura y hospitalidad familiar, junto con un café especial producido en nuestras tierras.<br/> Estamos emocionados por expandir nuestras instalaciones y servicios para convertirnos en un destacado destino ecoturístico, comprometidos profundamente con el cuidado del medio ambiente y la promoción de nuestra cultura local.<br></p>
      </div>
  </div>
      
  <div class="container-video">
    <iframe class="video_historia" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fpref01%2Fvideos%2F703853451583298%2F&show_text=false&width=560&t=0" width="560px" height="200px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  </div>
</div>


