table.table {
  width: 34em;
}

.container-menu {
  margin: 1em auto;
  width: 80%;
  font-family: 'Poppins Regular';
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

h3 {
  text-align: center;
  font-weight: bolder;
}

h4 {
  font-weight: bold;
}


h5 {
  font-weight: 600;
}


a.btn.btn-primary {
    margin-right: 1em;
}


/* new card */

.card.mb-3 {
    width: 20em;
}

.col-md-8 {
  display: flex;
  align-items: center;
}

img.img-fluid.rounded-start {
  height: 9em;
  width: 15em;
  object-fit: cover;
}

p {
  margin: 0;
}


.botones {
  display: flex;
  justify-content: end;
  gap: 1em;
  align-items: center;
}

@media ( max-width: 768px ) {

  .card.mb-3 {
    width: 15em;
}
}
