<div class="container">
  <h1>Consulta tu reserva</h1>

  <form [formGroup]="numeroIdentificacion" class="consulta-form">
      <div class="form-group">
          <label for="">Numero de identificacion:</label>
          <input id="cedula" type="text" class="form-control" formControlName="cedula">
          <div class="error">
              <div *ngIf="numeroIdentificacion.get('cedula')?.invalid && (numeroIdentificacion.get('cedula')?.dirty || numeroIdentificacion.get('cedula')?.touched)">
                <small *ngIf="numeroIdentificacion.get('cedula')?.errors?.['required']">El número de documento es requerido</small>
              </div>
            </div>
      </div>
      <button class="btn btn-primary" (click)="enviarConsulta()">Consultar</button>
  </form>
</div>


