<section >
    <div class="row flex-md-row">
      <div class="col col-md-6 col-one container">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="image" class="d-block w-100" alt="foto_cafe1">
            </div>     
        </div>      
      
    </div>
      <div class="col col-md-6 col-two container">
        <div class="card1 p-md-4 p-lg-5">
          <h2 class="title-coffe"> {{title}}</h2>
          <p> {{description}}</p>
        </div>
      </div>
    </div>
</section>