<body>
    <app-encabezado></app-encabezado>

  <section >
    <div class="row flex-md-row">
        <div class="col col-md-6 col-one container">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" [alt]="cafe?.nombre" [src]="cafe?.urlImagen">
            </div>     
        </div>      
        
      </div>
      <div class="col col-md-6 col-two container">
          <div class="card1 p-md-4 p-lg-5">
            <h2 class="title-coffe">{{ cafe?.nombre }}</h2>
            <p class="contenido-coffe" >{{ cafe?.descripcion }}</p>

            <!-- Botones para sumar y restar -->
            <div class="quantity-controls">
              <button class="quantity-button-1" (click)="restarCantidad()">-</button>
              <span class="quanjtity">{{ cantidad }}</span>
              <button class="quantity-button-2" (click)="sumarCantidad()" >+</button>
            </div>
              
          <div class="precio"><h4>Precio total: {{resultado}} </h4> </div>      
          <div class="botonComprar"> <button class="comprar-button" (click)="mensajePagar()"> Comprar ahora </button> </div>
        </div>

      </div>
    </div>

    
  </section>

  <h2 class="title-coffe">OTROS PRODUCTOS RELACIONADOS</h2>
  
    <div class="container-card2">
        <div class="cardService"  *ngFor="let service of cafes.data; let i = index">
            <div class="card" style="width: 20rem">
              <img [src]="service.urlImagen" class="card-img-top" [alt]="service?.nombre" />
              <div class="card-body">
                <h5 class="card-title">{{service.nombre}}</h5>
                <p class="card-text">${{service.precio}}</p>
                <button class="btn btn-primary"[routerLink]="['/cafe/detalle/', service._id]" >Seleccionar</button>
              </div>
            </div>
          </div>
    </div>
    
    

</body>