<section class="home">
    <div class="img-main">
    <div class="titulo-main">
      <p>Finca Cafetera el Matrimonio</p>
    </div>
    <div class="containerbuttons">
      <button type="button" class="btn btn-primary boton-reserva" routerLink="/servicios">Crea tu Reserva</button>
      <button type="button" class="btn btn-primary boton-consulta" routerLink="/consulta">Consulta tu Reserva</button> 
    </div>
    </div>
      <div class="main-horario">
        <p class="horario-servicio">
          Servicio 24 Horas
          </p>
      </div> 
      <app-carrucel></app-carrucel>
      <app-matrimonios></app-matrimonios>
      <app-testimonios></app-testimonios>
</section>